{% extends 'car_dealer/base.html' %}

{% block content %}
<div class="w3-container w3-center" style="margin-top: 80px; height:60vh">
  <div class="w3-card w3-padding w3-round w3-border w3-border-red w3-light-grey" style="display: inline-block; max-width: 400px;">
    <h3 class="w3-text-red">Oops! Something went wrong</h3>
    <p class="w3-medium">The information you entered is incorrect. Please try again.</p>
    <a href="/car_dealer_portal/login/" class="w3-button w3-teal w3-round">Go Back to Login</a>
  </div>
</div>  
{% endblock %}
